body {
  margin: 0;
  padding: 0;
  /** background image */
  background-image: url("./images/olguinImages/mable.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.home-banner {
  color: rgb(3, 10, 189);
  text-shadow: 5px 5px 8px rgb(8, 101, 194);
  font-size: 7vw;
  margin-bottom: 0;
}

.examples {
  font-family: monospace;
  font-size: 4vw;
  padding: 0px 20px 0px 20px;
  color: rgb(1, 40, 122);
  background-color: azure;
}

.container {
  position: relative;
  text-align: center;
}
.container h1 {
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  font-size: 6vw;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 80%;
  margin-top: 10px;
  border-radius: 1rem;
}
.product-words {
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 2rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  font-size: 6vw;
  padding: 2rem;
}
.home-words {
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  width: 60%;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
}

.home-examples {
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgb(2, 67, 206);
  width: 60%;
  text-align: center;
  color: rgba(2, 67, 206, 0.413);
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-examples h3 {
  margin: 10px;
  font-size: 3vw;
  color: rgba(2, 67, 206);
}
.white {
  background-color: aliceblue;
  box-shadow: 5px 5px 10px rgb(21, 43, 84);
  z-index: 1;
  padding: 5px;
}

.link {
  position: absolute;
  bottom: 5rem;
}

.link button {
  background-color: rgb(2, 67, 206);
  color: rgb(222, 222, 223);
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
}

.wedding-pic {
  margin-top: 20px;
  width: 20rem;
  border: 4px solid wheat;
  box-shadow: 4px 4px 8px rgb(16, 2, 97);
}
.wedding-pic2 {
  margin-top: 20px;
  height: 20rem;
  border: 4px solid wheat;
  box-shadow: 4px 4px 8px rgb(16, 2, 97);
}

.about-pics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.about-words {
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  font-size: 5vw;
  padding: 1rem;
}
.about-para {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  width: 80%;
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
}

.footer {
  width: 100%;
  background-color: rgb(2, 67, 206);
  color: aliceblue;
  display: flex;
  justify-content: space-around;
}

.footer-contact a {
  color: rgb(30, 250, 250);
  text-decoration: none;
  margin-left: 10px;
  font-size: 2vw;
}
.footer-contact h2 {
  font-size: 3vw;
}
.contact-home {
  padding-left: 10px;
  color: rgb(30, 250, 250);
}

.shirts {
  margin: 10px;
  border-radius: 0.5vw;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.flex h3 {
  font-size: 2vw;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
a:hover {
  color: aliceblue;
  text-shadow: 4px 4px 4px white;
}

@media screen and (max-width: 980px) {
  .about-pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .home-words {
    background-color: rgba(2, 67, 206, 0.413);
    border-radius: 1rem;
    color: rgb(250, 250, 254);
    text-shadow: 3px 3px 6px black;
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
  }
}
