body {
  margin: 0;
  padding: 0;
  background-image: url("./images/anaiBackground.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.home-banner {
  color: rgb(255, 255, 255);
  font-size: 7vw;
  margin-bottom: 0;
}
.contact-banner h1 {
  color: rgb(255, 255, 255);
  font-size: 4vw;
}
.contact-banner h3 {
  color: rgb(255, 255, 255);
  font-size: 3vw;
}
.logo-2 {
  position: absolute;
  height: 200px;
  border-radius: 100px;
  border: 2px solid white;
}
.contact-message {
  background-color: rgba(2, 71, 80, 0.845);
  height: 300px;
  width: 550px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 4px black;
}
.contact-message h4 {
  color: rgb(177, 228, 204);
  font-size: 3vw;
  z-index: 1;
  margin-top: -0px;
}
.contact-message h5 {
  z-index: 1;
  padding-right: 10px;
  color: rgb(177, 228, 204);
  font-size: 1.6vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.examples {
  font-family: monospace;
  font-size: 4vw;
  padding: 0px 20px 0px 20px;
  color: rgb(1, 40, 122);
  background-color: azure;
}

.container {
  position: relative;
  text-align: center;
}
.container h1 {
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  font-size: 6vw;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 80%;
  margin: 10px 0px 30px 0px;
  border-radius: 1rem;
}
.product-words {
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  font-size: 6vw;
  padding: 2rem;
}
.home-words {
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  width: 60%;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
}

.home-examples {
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgb(2, 67, 206);
  width: 60%;
  text-align: center;
  color: rgba(2, 67, 206, 0.413);
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-examples h3 {
  margin: 10px;
  font-size: 3vw;
  color: rgba(2, 67, 206);
}
.white {
  background-color: aliceblue;
  box-shadow: 5px 5px 10px rgb(21, 43, 84);
  z-index: 1;
  padding: 5px;
}

.link {
  position: absolute;
  bottom: 5rem;
}

.link button {
  background-color: rgb(2, 67, 206);
  color: rgb(222, 222, 223);
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
}

.wedding-pic {
  margin-top: 20px;
  width: 20rem;
  border: 4px solid wheat;
  box-shadow: 4px 4px 8px rgb(16, 2, 97);
}
.wedding-pic2 {
  margin-top: 20px;
  height: 20rem;
  border: 4px solid wheat;
  box-shadow: 4px 4px 8px rgb(16, 2, 97);
}

.about-pics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.about-words {
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
  font-size: 5vw;
  padding: 1rem;
}
.about-para {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  width: 80%;
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 1rem;
  color: rgb(250, 250, 254);
  text-shadow: 3px 3px 6px black;
}

.footer {
  width: 100%;
  background-color: rgb(2, 67, 206);
  color: aliceblue;
  display: flex;
  justify-content: space-around;
}

.conroe {
  font-size: 3vw;
}

.footer-contact a {
  color: rgb(30, 250, 250);
  text-decoration: none;
  margin-left: 10px;
  font-size: 2vw;
}
.footer-contact h2 {
  font-size: 3vw;
}
.contact-home {
  padding-left: 10px;
  color: rgb(30, 250, 250);
}

.shirts {
  margin: 10px;
  border-radius: 0.5vw;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.flex h3 {
  font-size: 2vw;
}
.flex-start {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(64, 194, 255, 0.486);
}
.contact-form label {
  color: rgb(224, 240, 253);
  font-size: 1.4vw;
  width: 40%;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form input {
  width: 40%;
}
.contact-form textarea {
  width: 50%;
  margin-bottom: 10px;
}
.submit {
  background-color: greenyellow;
  color: honeydew;
  font-size: 2vw;
  margin-top: 10px;
  height: 3vw;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
a:hover {
  color: aliceblue;
  text-shadow: 4px 4px 4px white;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-image {
  width: 500px;
  border-radius: 10px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: 3rem;
  color: rgba(92, 203, 255, 0.657);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: -10px;
  font-size: 3rem;
  color: rgba(92, 203, 255, 0.657);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 980px) {
  .about-pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .home-words {
    background-color: rgba(2, 67, 206, 0.413);
    border-radius: 1rem;
    color: rgb(250, 250, 254);
    text-shadow: 3px 3px 6px black;
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
  }
  .footer {
    width: 100%;
    background-color: rgb(2, 67, 206);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer-contact h2 {
    font-size: 6vw;
  }
  .conroe {
    font-size: 6vw;
  }
  .flex h3 {
    font-size: 4vw;
  }
  .flex a {
    font-size: 4vw;
  }
  .product-words {
    color: rgb(250, 250, 254);
    text-shadow: 3px 3px 6px black;
    font-size: 9vw;
  }
  .contact-message {
    background-color: rgba(2, 71, 80, 0.845);
    height: 200px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 4px black;
  }
  .contact-message h4 {
    color: rgb(177, 228, 204);
    font-size: 6vw;
    z-index: 1;
    margin-top: 10px;
  }
  .contact-message h5 {
    z-index: 1;
    padding-right: 10px;
    color: rgb(177, 228, 204);
    font-size: 4vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .logo-2 {
    position: absolute;
    height: 100px;
    border-radius: 50px;
    border: 2px solid white;
  }
  .contact-banner h1 {
    color: rgb(255, 255, 255);
    font-size: 4vw;
  }
  .contact-banner h3 {
    color: rgb(255, 255, 255);
    font-size: 7vw;
  }
  .contact-form {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(64, 194, 255, 0.486);
  }
  .contact-form label {
    color: rgb(224, 240, 253);
    font-size: 5vw;
    width: 70%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-form input {
    width: 70%;
  }
  .contact-form textarea {
    width: 70%;
    margin-bottom: 10px;
  }
  .submit {
    background-color: greenyellow;
    color: honeydew;
    font-size: 4vw;
    margin-top: 10px;
    height: 10vw;
  }
}
