body {
  margin: 0;
  padding: 0;
  /** background image */
  background-image: url("./images/olguinImages/mable.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 80%;
  margin-top: 10px;
  border-radius: 2rem;
}
.product-words {
  font-size: 3rem;
  color: rgb(2, 67, 206);
  border-radius: 1vw;
  border: 4px solid rgb(2, 67, 206);
  padding: 15px;
}
.home-words {
  background-color: rgba(2, 67, 206, 0.413);
  border-radius: 2rem;
  padding: 1rem;
  position: absolute;
  color: white;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}
.link {
  position: absolute;
  bottom: 5rem;
}

.link button {
  background-color: rgb(2, 67, 206);
  color: rgb(222, 222, 223);
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
}

.wedding-pic {
  margin-top: 20px;
  width: 20rem;
  border: 4px solid wheat;
  box-shadow: 4px 4px 8px rgb(16, 2, 97);
}
.wedding-pic2 {
  margin-top: 20px;
  height: 20rem;
  border: 4px solid wheat;
  box-shadow: 4px 4px 8px rgb(16, 2, 97);
}
.about-pics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-words {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px rgb(0, 56, 176);
}
.about-para {
  font-size: 1.6rem;
  color: rgb(244, 72, 247);
  text-align: center;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(190, 243, 252, 0.762);
  border-radius: 20px;
}
